/* ------------------------------------------------------
                    standard styles
------------------------------------------------------ */
* {
  margin: 0px;
  padding: 0px;
}

.reg-btn {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-transform: lowercase;
  border: 1px solid inherit;
  background-color: rgba(255, 255, 255, 0.16);
  transition: 0.2s ease;
  margin-left: 5px;
  margin-right: 5px;
}
.reg-btn:first-child {
  margin-left: 0px;
}
.reg-btn:last-child {
  margin-right: 0px;
}
.reg-btn:hover {
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.admin-bar header {
  top: 32px;
}

article {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

h1 {
  font-size: 32px;
  line-height: 25px;
}

h2 {
  font-size: 28px;
  line-height: 23px;
}

h3 {
  font-size: 24px;
  line-height: 19px;
}

/* ------------------------------------------------------
                        header
------------------------------------------------------ */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;
  transition: 0.2s ease;
  z-index: 3;
  position: sticky;
}
header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-inner img {
  display: inline-block;
  max-width: 200px;
  max-height: 40px;
}
header .header-inner nav {
  display: inline-block;
}
header .header-inner nav ul {
  list-style: none;
}
header .header-inner nav ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
}
header .header-inner nav ul li a {
  color: #444444;
  text-decoration: none;
}
header .header-inner nav ul li:after {
  display: flex;
  width: 0%;
  height: 2px;
  background-color: #444444;
  content: "";
  transition: 0.2s ease;
}
header .header-inner nav ul li:hover:after {
  width: 100%;
}

.scroll {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.nonscroll {
  top: inherit;
  z-index: inherit;
  position: inherit;
}

/* ------------------------------------------------------
                        Banners
------------------------------------------------------ */
#standard-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  max-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
#standard-banner h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#standard-banner .button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
#standard-banner .button-wrapper a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  text-transform: lowercase;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.16);
  transition: 0.2s ease;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#standard-banner .button-wrapper a:first-child {
  margin-left: 0px;
}
#standard-banner .button-wrapper a:last-child {
  margin-right: 0px;
}
#standard-banner .button-wrapper a:hover {
  color: #444444;
  background-color: white;
}

/* ------------------------------------------------------
                      slider banner
------------------------------------------------------ */
#slider-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  max-height: 700px;
}
#slider-banner .swiper-slide {
  display: flex;
  width: 100%;
  height: 100%;
}
#slider-banner .swiper-slide .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ------------------------------------------------------
                          text
------------------------------------------------------ */
.gen-text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: 300;
}
.gen-text p {
  max-width: 700px;
}
.gen-text .button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gen-text .button-wrapper .reg-btn {
  font-family: "Poppins", sans-serif;
  border: 1px solid #444444;
  color: #444444;
}
.gen-text .button-wrapper .reg-btn:hover {
  color: #ffffff;
  background-color: #444444;
}

#text-left {
  justify-content: flex-start;
}

#text-centered {
  justify-content: center;
}

#text-right {
  justify-content: flex-end;
}

/* ------------------------------------------------------
                          posts
------------------------------------------------------ */
.standard-post-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}
.standard-post-wrapper .standerd-post-inner {
  display: grid;
  grid-gap: 20px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.standard-post-wrapper .standerd-post-inner .post {
  background-color: #70C4E8;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
}
.standard-post-wrapper .standerd-post-inner .post .thumbnail {
  display: inline-block;
  background-color: #139BD7;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.standard-post-wrapper .standerd-post-inner .post .post-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  background-color: #ffffff;
}
.standard-post-wrapper .standerd-post-inner .post .post-info h3 {
  font-weight: 700;
  line-height: 28px;
}
.standard-post-wrapper .standerd-post-inner .post .post-info span {
  color: #8301E0;
  font-weight: 200;
}
.standard-post-wrapper .standerd-post-inner .post .post-info span:after {
  display: flex;
  width: 0%;
  height: 2px;
  background-color: #444444;
  content: "";
  transition: 0.2s ease;
}
.standard-post-wrapper .standerd-post-inner .post:hover .post-info span:after {
  width: 100%;
}

.masonry-post-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}
.masonry-post-wrapper .masonry-post-inner {
  display: grid;
  grid-gap: 20px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.masonry-post-wrapper .masonry-post-inner .post {
  background-color: #70C4E8;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
}
.masonry-post-wrapper .masonry-post-inner .post .thumbnail {
  display: inline-block;
  background-color: #139BD7;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masonry-post-wrapper .masonry-post-inner .post .post-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  background-color: #ffffff;
}
.masonry-post-wrapper .masonry-post-inner .post .post-info h3 {
  font-weight: 700;
  line-height: 28px;
}
.masonry-post-wrapper .masonry-post-inner .post .post-info span {
  color: #8301E0;
  font-weight: 200;
}
.masonry-post-wrapper .masonry-post-inner .post .post-info span:after {
  display: flex;
  width: 0%;
  height: 2px;
  background-color: #444444;
  content: "";
  transition: 0.2s ease;
}
.masonry-post-wrapper .masonry-post-inner .post:hover .post-info span:after {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
