/* ------------------------------------------------------
                    standard styles
------------------------------------------------------ */

$white: #ffffff;
$lightgray: #CCCCCC;
$ant: #444444;
$gray: #969696;
$black: #000000;

//custom
$blue: #139BD7;
$lightblue: #70C4E8;
$darkblue: #07325E;
$purple: #8301E0;
$darkpurple: #3E0085;

$font: 'Poppins', sans-serif;

*{
  margin:0px;
  padding:0px;
}

//buttons and links
.reg-btn{
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-transform: lowercase;
  border:1px solid inherit;
  background-color:rgba(255,255,255,0.16);
  transition: .2s ease;
  margin-left: 5px;
  margin-right: 5px;
  &:first-child{
    margin-left: 0px;
  }
  &:last-child{
    margin-right: 0px;
  }
  &:hover{
    color: inherit;
    background-color: inherit;
  }
}

a{
  color: inherit;
  text-decoration: none;
}


//admin bar active
.admin-bar{
  header{
    top:32px;
  }
}

//text styles
article{
  font-family: $font;
  font-size: 20px;
  line-height: 30px;
}

h1{
  font-size: 32px;
  line-height: 25px;
}

h2{
  font-size: 28px;
  line-height: 23px;
}

h3{
  font-size: 24px;
  line-height: 19px;
}

/* ------------------------------------------------------
                        header
------------------------------------------------------ */
header{
  padding-top:20px;
  padding-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(00,00,00,0.16);
  background-color: rgba(255,255,255,1.0);
  transition: .2s ease;
  z-index: 3;
  position: sticky;
  .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      display: inline-block;
      max-width: 200px;
      max-height: 40px;
    }
    nav{
      display: inline-block;
      ul{
        list-style: none;
        li{
          font-family: $font;
          font-weight: 500;
          display: inline-block;
          a{
            color:$ant;
            text-decoration: none;
          }
          &:after{
            display: flex;
            width: 0%;
            height: 2px;
            background-color: $ant;
            content:"";
            transition: .2s ease;
          }
          &:hover{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

//header on scroll
.scroll{
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
}

.nonscroll{
  top:inherit;
  z-index: inherit;
  position: inherit;
}

/* ------------------------------------------------------
                        Banners
------------------------------------------------------ */
#standard-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  max-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: $font;
  h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    color:$white;
    text-align: center;
    z-index: 1;
    text-shadow: 0px 3px 6px rgba(00,00,00,0.16);
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 20px;
    z-index: 1;
    a{
      display: inline-block;
      color:$white;
      padding: 10px 15px 10px 15px;
      text-transform: lowercase;
      border:1px solid $white;
      background-color:rgba(255,255,255,0.16);
      transition: .2s ease;
      margin-left: 5px;
      margin-right: 5px;
      text-shadow: 0px 3px 6px rgba(00,00,00,0.16);
      box-shadow: 0px 3px 6px rgba(00,00,00,0.16);
      &:first-child{
        margin-left: 0px;
      }
      &:last-child{
        margin-right: 0px;
      }
      &:hover{
        color:$ant;
        background-color:rgba(255,255,255,1);
      }
    }
  }
}

/* ------------------------------------------------------
                      slider banner
------------------------------------------------------ */

#slider-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  max-height: 700px;
  .swiper-slide{
    display: flex;
    width: 100%;
    height: 100%;
    .image{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slide-content{

    }
  }
}

/* ------------------------------------------------------
                          text
------------------------------------------------------ */
.gen-text{
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: 300;
  p{
    max-width: 700px;
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 20px;
    .reg-btn{
      font-family: $font;
      border:1px solid $ant;
      color:$ant;
      &:hover{
        color:$white;
        background-color: $ant;
      }
    }
  }
}

//left-text
#text-left{
  justify-content: flex-start;
}

//centered text
#text-centered{
  justify-content: center;
}

//right-text
#text-right{
  justify-content: flex-end;
}

/* ------------------------------------------------------
                          posts
------------------------------------------------------ */

//standard posts
.standard-post-wrapper{
  padding-top:70px;
  padding-bottom: 70px;
  .standerd-post-inner{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    .post{
      background-color: $lightblue;
      font-family: $font;
      box-shadow: 1px 3px 6px rgba(00,00,00,0.08);
      transition: .2s ease;
      .thumbnail{
        display: inline-block;
        background-color: $blue;
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .post-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        height: 100px;
        background-color: $white;
        h3{
          font-weight: 700;
          line-height: 28px;
        }
        span{
          color:$purple;
          font-weight: 200;
          &:after{
            display: flex;
            width: 0%;
            height: 2px;
            background-color: $ant;
            content:"";
            transition: .2s ease;
          }
        }
      }
      &:hover{
        .post-info{
          span{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

//masonry posts
.masonry-post-wrapper{
  padding-top:70px;
  padding-bottom: 70px;
  .masonry-post-inner{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    .post{
      background-color: $lightblue;
      font-family: $font;
      box-shadow: 1px 3px 6px rgba(00,00,00,0.08);
      transition: .2s ease;
      .thumbnail{
        display: inline-block;
        background-color: $blue;
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .post-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        height: 100px;
        background-color: $white;
        h3{
          font-weight: 700;
          line-height: 28px;
        }
        span{
          color:$purple;
          font-weight: 200;
          &:after{
            display: flex;
            width: 0%;
            height: 2px;
            background-color: $ant;
            content:"";
            transition: .2s ease;
          }
        }
      }
      &:hover{
        .post-info{
          span{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
