/* ------------------------------------------------------
                    standard styles
------------------------------------------------------ */

$white: #ffffff;
$ant: #444444;
$gray: #969696;
$lightgray: #CCCCCC;

$font: 'Poppins', sans-serif;

*{
  margin:0px;
  padding:0px;
}

//buttons and links
.reg-btn{
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-transform: lowercase;
  border:1px solid inherit;
  background-color:rgba(255,255,255,0.16);
  transition: .2s ease;
  margin-left: 5px;
  margin-right: 5px;
  &:first-child{
    margin-left: 0px;
  }
  &:last-child{
    margin-right: 0px;
  }
  &:hover{
    color: inherit;
    background-color: inherit;
  }
}

a{
  color: inherit;
  text-decoration: none;
}


//admin bar active
.admin-bar{
  header{
    top:32px;
  }
}

//text styles
article{
  font-family: $font;
  font-size: 20px;
  line-height: 30px;
}

h1{
  font-size: 32px;
  line-height: 25px;
}

h2{
  font-size: 28px;
  line-height: 23px;
}

h3{
  font-size: 24px;
  line-height: 19px;
}

/* ------------------------------------------------------
                        header
------------------------------------------------------ */
header{
  padding-top:20px;
  padding-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(00,00,00,0.16);
  background-color: rgba(255,255,255,1.0);
  transition: .2s ease;
  z-index: 3;
  position: sticky;
  .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      display: inline-block;
      max-width: 200px;
      max-height: 40px;
    }
    nav{
      display: inline-block;
      ul{
        list-style: none;
        li{
          font-family: $font;
          font-weight: 500;
          a{
            color:$ant;
            text-decoration: none;
          }
        }
      }
    }
  }
}

//header on scroll
.scroll{
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
}

.nonscroll{
  top:inherit;
  z-index: inherit;
  position: inherit;
}

/* ------------------------------------------------------
                        Banners
------------------------------------------------------ */
#standard-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  max-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: $font;
  position: relative;
  h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    color:$white;
    text-align: center;
    z-index: 1;
    text-shadow: 0px 3px 6px rgba(00,00,00,0.16);
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 20px;
    z-index: 1;
    a{
      display: inline-block;
      color:$white;
      padding: 10px 15px 10px 15px;
      text-transform: lowercase;
      border:1px solid $white;
      background-color:rgba(255,255,255,0.16);
      transition: .2s ease;
      margin-left: 5px;
      margin-right: 5px;
      text-shadow: 0px 3px 6px rgba(00,00,00,0.16);
      box-shadow: 0px 3px 6px rgba(00,00,00,0.16);
      &:first-child{
        margin-left: 0px;
      }
      &:last-child{
        margin-right: 0px;
      }
      &:hover{
        color:$ant;
        background-color:rgba(255,255,255,1);
      }
    }
  }
}

/* ------------------------------------------------------
                      slider banner
------------------------------------------------------ */

#slider-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  max-height: 700px;
  .swiper-slide{
    display: flex;
    width: 100%;
    height: 100%;
    .image{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slide-content{

    }
  }
}

/* ------------------------------------------------------
                          text
------------------------------------------------------ */
//general text style
.gen-text{
  display: grid;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  article{
    font-weight: 300;
    max-width: 700px;
    text-align: center;
    p{
      margin-top:10px;
    }
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 20px;
    .reg-btn{
      font-family: $font;
      border:1px solid $ant;
      color:$ant;
      &:hover{
        color:$white;
        background-color: $ant;
      }
    }
  }
}

//centered text
.centered-text{
  justify-content: center;
  article{
    text-align: center;
  }
}

//right-text
.right-text{
  justify-content: right;
  article{
    text-align: right;
  }
}

//left-text
.left-text{
  justify-content: left;
  article{
    text-align: left;
  }
}
